html {
  margin: 0;
  padding: 0;
}

.hover_group:hover {
  opacity: 1;
}

#game {
  position: relative;
  margin: 0px auto 0px auto;
  padding: 0;
  height: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.target, .sprite, .machine {
  position: absolute;
  margin: 0;
  padding: 0;
}

.target:hover {
  opacity: 0.5;
  color: #fff;
}

.tile {
cursor: pointer;
}

figure,article {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/*
figure image {
  display: block;
  margin-left:auto;
  width: 100%;
  height: 100%;
}
*/

figure .map {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

figure .map a {
  color: white;
}

article .map {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

article .map a {
  color: white;
}



.hover_group:hover {
  opacity: 0.5;
  color: #fff;
}

.exit {
  width: 400px;
  height: 245px;
  background: url('assets/metal_machinedigit.png')  0 0 no-repeat;
  background-position: 100% 0%;
}

.digit {
  display:inline-block;
  width: 40px;
  height: 70px;
  margin: 0px 6px 0px 6px;
  background: url('assets/metal_machinedigit.png') 0 0 no-repeat;
  position:relative;
  top: 92px;
  left: 80px;
}

/* Modal */
#popup,.modal {
  position: absolute;
  color: black;
  top: 70px;
  width: 100%;
  font-family: 'Rock Salt', sans-serif;
  z-index: 9999;
}

.modal:target {
    opacity:1;
    pointer-events: auto;
}
.modal .close {
    background-color: rgba(255,220,0,1.0);
    font-family: 'Lato';
    font-size: 2.5em;
    padding: 8px;
    color: #000;
    line-height: 25px;
    position: absolute;
    right: -20px;
    text-align: center;
    top: -20px;
    width: 26px;
    text-decoration: none;
    font-weight: bold;
    border: solid 2px black;
    box-shadow: 1px 1px 3px #000;
}
.modal .close:hover {
    background: #ff8000;
}
.modal-header {
  position: relative;
  top: -20px;
  left: -20px;
  width: 80%;
  padding: 2px 16px;
  background-color: rgba(255,220,0,1.0);
  color: black;
  border: solid 2px;
  box-shadow: 1px 1px 3px #000;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 8px 0 0 0;
  background-color: rgba(0,0,30,0.8);
  color: white;
  text-align: right;
}

.modal-footer a {
  margin: 0 10px;
  text-decoration: none;
  padding: 0;
  color: white;
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 4px solid black; /*#888;*/
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-content input {
  font-family: 'Lato', sans-serif;
}

.modal-content input[type=text] {
  width: 60%;
}

.modal-content .exit {
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
}

.modal-content .exit:hover {
  background-color: rgba(0,0,30,0.8);
  color: white;
}


/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes fadeinout {
    from { opacity: 0; }
    50%  { opacity: 1; }
    to   { opacity: 0; }
}

/* Media queries */

@media screen and (max-width: 640px) {
  #banner {
    max-width: 100%;
    width: auto;
    height: 20px;
    background-color: red;
  }
  
  #banner a {
    font-size: 8px;
  }
  
  #game {
    max-width: 100%;
  }
}

