.hover_group:hover {
  opacity: 1;
}

#game {
  position: relative;
  margin: 0px auto 0px auto;
  padding: 0;
  max-width: 800px;
}

img {
  max-width: 100%;
  height: auto;
}
.target, .sprite {
  position: absolute;
  margin: 0;
  padding: 0;
}

.target:hover {
  opacity: 0.5;
  color: #fff;
}

figure {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
figure image {
  display: block;
  margin-left:auto;
  width: 100%;
  height: 100%;
}

figure .map {
  display: inline-block;
  top: 0;
  left: 0;
}

.hover_group:hover {
  opacity: 0.5;
  color: #fff;
}
.exit {
  width: 400px;
  height: 245px;
  background: url('assets/metal_machinedigit.png')  0 0 no-repeat;
  background-position: 100% 0%;
}
.digit {
  display:inline-block;
  width: 40px;
  height: 70px;
  margin: 0px 6px 0px 6px;
  background: url('assets/metal_machinedigit.png') 0 0 no-repeat;
  position:relative;
  top: 92px;
  left: 80px;
}

.modal {
  position: absolute;
  top: 8%;
  margin: 0;
  width: 50%;
  z-index: 99;
  left: 25%;
/**
  border: solid 6px;
  border-radius: 30px;
  **/
}

.modal-content {
  background-color: '#aaa';
}

.modal-header {
  position: absolute;
  background: rgba(255,220,0,1.0);
  max-width: 90%;
  top:-10px;
  left:-20px;
  border: solid 2px;
  font-family: 'Rock Salt', sans-serif;
  width: 100%;
  z-index: 99;
/**
  border: solid 6px;
  border-radius: 30px;
  **/
}

.modal-footer {
  position: absolute;
  background: rgba(0,0,30,0.8);
  max-width: 100%;
  bottom:0px;
  width: 100%;
  height: 20%;
  z-index: 99;
/**
  border: solid 6px;
  border-radius: 30px;
  **/
}

.modal-footer  ul {
  padding: 10px;
  margin: 0px;
  list-style-type: none;
}

.modal-footer  li {
 margin:0px 0px 0px 2px;
 padding: 0px;
 display:inline;
 clear:both;
 }

.modal-footer ul li a{
  display:inline;
  text-decoration:none;
}

.modal-footer img {
  float:right;
  vertical-align:middle;
  margin: 2px;
  width:10%;
}

.modal-body object {
  width: 100%;
}

