.hover_group:hover {
  opacity: 1;
}

#game {
  position: relative;
  margin: 0px auto 0px auto;
  padding: 0;
  max-width: 800px;
}

img {
  max-width: 100%;
  height: auto;
}
.target, .sprite {
  position: absolute;
  margin: 0;
  padding: 0;
}

.target:hover {
  opacity: 0.5;
  color: #fff;
}

figure {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

figure image {
  display: block;
  margin-left:auto;
  width: 100%;
  height: 100%;
}

figure .map {
  display: inline-block;
  top: 0;
  left: 0;
}

.hover_group:hover {
  opacity: 0.5;
  color: #fff;
}

.exit {
  width: 400px;
  height: 245px;
  background: url('assets/metal_machinedigit.png')  0 0 no-repeat;
  background-position: 100% 0%;
}

.digit {
  display:inline-block;
  width: 40px;
  height: 70px;
  margin: 0px 6px 0px 6px;
  background: url('assets/metal_machinedigit.png') 0 0 no-repeat;
  position:relative;
  top: 92px;
  left: 80px;
}

/* Modal */
.modal {
  position: relative;
  color: black;
  top: 70px;
  font-family: 'Rock Salt', sans-serif;
}

.modal-header {
  border: solid 2px;
  position: relative;
  top: -20px;
  left: -20px;
  width: 80%;
  padding: 2px 16px;
  background-color: rgba(255,220,0,1.0);
  color: black;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 8px 0 0 0;
  background-color: rgba(0,0,30,0.8);
  color: white;
  text-align: right;
}

.modal-footer a {
  margin: 0 10px;
  text-decoration: none;
  padding: 0;
  color: white;
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 4px solid black; /*#888;*/
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}


